.toolbar {
  display: flex;
  justify-items: center;
  margin-top: 10px;
  justify-content: space-between;
  border-radius: 15px;
  width: 400px;
}

.title-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 32px;
  height: 32px;
}

.title {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
