<div class="flex w-full justify-center">
    <div class="flex flex-row justify-left max-w-[clamp(0px,85vw,340px)] bg-secondary gap-3 p-3 rounded-2xl">
        <div class="rounded-lg">
            <qr-code value="scorekeep.cjosse.com/78978" [margin]=2 darkColor="#5452D5" lightColor="#F7F3FF" size="100" errorCorrectionLevel="M"/>
        </div>
        <div class="flex flex-col gap-3">
            <h1 class="text-2xl text-primary font-semibold">Partager la partie</h1>
            <button class="flex flex-row bg-rose p-2 g-2 rounded-xl w-fit justify-center">
                <img class="w-4" src="/assets/logo.svg" alt="copy">
                <h3 class="text-primary font-semibold text-xs">scorekeep.cjosse.com/78978</h3>
            </button>
            <p class="text-xs text-primary">
                Les personnes à qui ce lien est partagé pourront aussi éditer les scores.
            </p>
        </div>
    </div>
</div>